.App {
  text-align: center;
}

.MainSection {
  background-color: #282c34;
  background-image: url('https://i.imgur.com/FUhnFdh.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-blend-mode: difference;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h4{
  padding: 0;
  margin: 0.2em;
  text-shadow: 0 0 3px #282c34;
}

button{
  margin: 1em;
  padding: 1em;
  background-color: #282c34;
  height: 3em;
  color: white;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 3px black;
}
button:active{
  transform: scale(0.98);
}